<div style="margin:25px">
  <div style="float:right">
      <div class="button is-success" routerLink="/">Home</div>
  </div>  
  
    <div class="columns is-active">
      <!-- first half -->
      <div class="column is-one-third is-offset-one-quarter is-narrow-desktop">
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
        </div>
        
        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input">
            </div>
        </div>

        <div class="field">
          <label class="label">Date of Birth</label>
          <div class="control">
            <input class="input" type="text" placeholder="dd/MM/yyyy">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="email" placeholder="Email input" value="krishnamrajgoud@gmail.com">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa fa-warning"></i>
            </span>
          </div>
          <p class="help is-success">This is valid email</p>
        </div>
        
        <div class="field">
          <label class="label">Subject</label>
          <div class="control">
            <div class="select">
              <select aria-selected="Male">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
                <option>Confidential</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" >
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" (click)="formSubmit()">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
      </div>
    </div>
</div>
